<main>
  {{!-- <input type="text" class="datepicker modal-overlay" placeholder="test picker"> --}}
    <div class="logoutButton">
    <button id="logout" class="btn logout">Logout</button>
    </div>

{{!-- trigger/open the modal --}}
    <button id="addEvent" class="btn addEvent">Add Event</button>
  {{!-- the modal --}}
  <div id="addEventModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    {{!-- Add form here --}}
    <form class="addEvent-form" id="addEvent-form">

    <div class="row">
      <h3 class="col s12">Add Event</h3>
      <div class="parent">
        <input class="input" id="event-name" type="name" name="event-name" placeholder="Event name here">
        <input class="input" id="event-description" type="description" name="event-description" placeholder="Describe your event">
        <input class="input" id="event-start-time" type="startTime" name="event-start-time" placeholder="Event start time">
        <input class="input" id="event-end-time" type="endTime" name="event-end-time" placeholder="Event end time">
        <button id="addToCalendar" class="btn" type="submit">Add to calendar!</button>
        </div>
    </div>
  </form>
  </div>
</div>

    {{!-- jquery calendar div --}}
    <div id='calendar'>
    </div>



</main>
<script src="/js/calendar.js"></script>
<script src="/js/logout.js"></script>