main {
    background-color: rgb(215, 215, 250);
}

div {
text-align: center;
border: 10px black;
border-radius: 5px;
}

.modal-overlay {
    display: none;
}

.parent {
    padding: 20px;
    margin: 20px;
}

.logoutButton {
    padding: 20px;
    margin: 40px;
    
}

.logout {
float: right;
}